---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'
const pageTitle = "关于"
---
<html lang="zh-cn">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: lightblue;
        font-size: 4rem;
      }
    </style>
  </head>

<Layout title="luohua's blog -- About">
	<main>
        <Navigation />
		
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
