---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'
---
<html lang = "zh">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />

    <h1>文章列表</h1>
    <h2>其他</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="/posts/others/test"
            title="测试"
            body="测试文章"
        />
        
    </ul>
  </body>
</html>

<style>
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>