---
const { domain, username, platform } = Astro.props;
---
<a href={`https://${domain}/${username}`}>
    <img src={`../../public/social/${platform}.png`}, alt={`${platform}`}></img>
</a>
<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        margin: auto;
    }
</style>